body{
  font-family: "Oswald",sans-serif;  
  text-align: center;
  margin:0;
  background-color: #f3f4f6;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

#num{
  background-color: blueviolet;
  color:white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

}

#InputNum{
  width: 100px;
  font-size: 20px;
  color:white;
  padding: 20px;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color:blueviolet;
  text-align: center;
}

#convert{
  padding: 12px 15px;
  font-family: "Oswald", sans-serif;
  background-color:white;
  border:none ;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

#conversion{
  background-color: whitesmoke;
  padding:25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.length,.volume,.mass{
  background-color: white;
  padding:15px;
  margin:15px auto;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  
}
  